.events-container{
    margin-top:2px;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    /* border:2px solid black */
   

}
.abt_us{
    margin: 20px 0 0 25px;
    font-size: 40px;
    font-weight: 500;
}
/* .p3h{
    font-weight:400;
    font-size: 10px;

    color: #111111;
    
} */
.events-content{
    display:flex;
    flex-direction:row;
    margin:2%;
    gap:8%;
    
}
.leftbox{
    /* border: 1px solid red; */
    width:40%;
    font-size:1.4vw;
    color:#96876E;
    display:flex;
    flex-direction: column;
    gap:0px;
    flex-wrap:wrap;
    justify-content: space-around;
}
.rightbox{
    /* border: 1px solid red; */
    width:40%;
    font-size:1.5vw;
    color:#96876E;
    display:flex;
    flex-direction: column;
    gap:18px;
   
    
   
    
}
#img1{
    width:80%;
}
#p1{
    font-size:2.2vw;
    font-weight:500;
}
.logoimg{
    display: flex;
    flex-direction: column;
    width:40%;
    gap:68px;
}
.about{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:40%;
    margin-top:-3em;
    gap:10px;
    
}
.p3h{
    font-size: 3vw;
    color:rgb(24, 24, 24);
}
.p3{
    font-size: 4vw;
    color:rgb(24, 24, 24);
}
#p2{
    font-weight: 400;
   font-size:x-large;
    color:#96876E;
}
.imgcards{
   display: flex;
 gap :10px;
 justify-content: space-between;
}
#img{
    width:150px;
    height:150px;
    border:1px solid black;
}
.crd1{
    /* border:1px solid red; */
    position: absolute;
    top:30%;
    left:7em;
    
    
    
    transform: rotate(0deg);
    /* background-image: url('C:\Users\DELL\Desktop\cinema-main\cinema-club\public\images\convohall.jpg'); */
    background-size: cover;
    

}
.crd2{
    /* border:1px solid red; */
    position: absolute;
    top: 65%;
    left: 7em;
    width: 200.81px;
    height: 204.36px;
    transform: rotate(0deg);
    /* background-image: url('C:\Users\DELL\Desktop\cinema-main\cinema-club\public\images\random.png'); */
    background-size: cover;
    /* background-repeat: no-repeat; */

}
/* .crd3{
    border:1px solid red;
    position: absolute;
    top:25vh;
    left:200px;
    width: 200.81px;
    height: 271px;
    transform: rotate(6.25deg);
    /* background-image: url('C:\Users\DELL\Desktop\cinema-main\cinema-club\public\images\Picture6.jpg'); */
    /* background-size: cover; */
    
    


.crd4{
    /* border:1px solid red; */
    position: absolute;
    top: 30%;
    left: 30em;
    width: 200.81px;
    height: 204.36px;
    transform: rotate(0deg);
    /* background-image: url('C:\Users\DELL\Desktop\cinema-main\cinema-club\public\images\IMG_0734.jpg'); */
    background-size: cover;

}
.crd5{
    /* border:1px solid red; */
    position: absolute;
    
    top: 65%;
    left: 30em;

    width: 200.81px;
    height: 204.36px;
    transform: rotate(0deg);
    /* background-image: url('C:\Users\DELL\Desktop\cinema-main\cinema-club\public\images\IMG_0788.jpg'); */
    background-size: cover;
    
}

@media only screen and (width<=850px){
    #img{
    width:27vw;
    height:27vw;
    border:1px solid black;
}
    .events-container{
        flex-direction: column;
        overflow-x: hidden;
        overflow-y:hidden;
        /* height:90vh; */
    }
    
    .events-content{
        /* margin: 2em 0 0 1em;
        font-size: medium;
        width: 90%; */
        display: flex;
        flex-direction: column;
        gap:13%;
        
    }
    .leftbox{
        width: 90%;
        margin: 0 0 0 1em;
        
        
    }
    .p3{
        font-size:35px;
    }
    #img1{
        display:none;
    }
    #p1{
        font-size: large;
    }
    .rightbox{
        width: 90%;
        margin: 0 0 0 1em;
        font-size: medium;
        
    }
    .p3h{
        font-size:28px;
        
    }
    .crd1{
        top:6%;
        left: 10%;
    }
    .crd2{
        top: 50%;
        left: 10%;
    }
    .crd4{
        left:60%;
        top: 6%;
    }
    .crd5{
        left:60%;
        top: 50%;

    }
}