.card{
    background-color: #FFF0D4
}
.card-title{
    color: rgba(105, 85, 51, 1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
}

.card-text{
    color:rgba(150, 135, 110, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130.69%;
}
.rating{
    background-color:rgba(105, 85, 51, 1) ;
    color: #FFF0D4;
    font-size: 18px;
    height: fit-content;
}