.screened-container{
    height: 100vh;
    border:0.5px solid black;
    /* margin:10vh 0 0 10vh; */
    background-color:#695533;
    margin-right: 0px;
}
.sdh{
    margin:10vh 0 0 10vh;
    color:#FFF0D4;
}
.box-container{
    margin-top: 15vh;
    width:100vw;
    
    display: flex;
    
    /* flex-direction: row; */
    justify-content:space-evenly;

    /* width: 100vw; */
    
}

.box{
    height: 50vh;
    width: 38vh;
    border-radius: 25px; 
    background-clip: content-box;
    background-size:38vh 50vh ;
    background-repeat: no-repeat;
    
}
#bx1{
    /* background-image: url('C:\Users\DELL\Desktop\cinema-main\cinema-club\public\images\good newz.jpg'); */
    
}
#bx2{
    /* background-image: url('C:\Users\DELL\Desktop\cinema-main\cinema-club\public\images\chhapaak.png'); */

}
#bx3{
    /* background-image: url('C:\Users\DELL\Desktop\cinema-main\cinema-club\public\images\rocketry.jpeg'); */
    
}
#bx4{
    /* background-image: url('C:\Users\DELL\Desktop\cinema-main\cinema-club\public\images\karthikeya 2.jpeg'); */
    
    /* background-repeat: no-repeat; */
}
#bx5{
    /* background-image: url('C:\Users\DELL\Desktop\cinema-main\cinema-club\public\images\URI.jpeg'); */
}

@media only screen and (width<=720px){
    .screened-container{
        height: auto;
    }
    .box-container{
        /* border: 1px solid black; */
        /* margin:2em 0 0 2em; */
        margin-top: 2em;
        padding-left: 2em;
        flex-direction: column;
        height: auto;
        overflow-x: hidden;
    }
    .box{
        /* border: 1px solid red; */
        height: 38vh !important;
        background-size:38vh 38vh !important ;
        margin-bottom: 1.5em;
    }
    .hide{
        display: none;
    }
}
