.Tcontainer{
    background-color: #695533;
    height: 100vh;
    margin-top: 0px;
    padding:6em 0 0 6em;
}

.Tcontainer h2{
    margin-top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    /* identical to box height */   


    color: #FFF0D4;
}

.tparent{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,3fr);
    grid-row-gap: 2em;

}

@media only screen and (width<=720px){
    .Tcontainer{
        height: auto;
    }
    .tparent{
        grid-template-columns: 1fr;
    }
    .Tcontainer h2{
        font-size: 44px;
        line-height: 58px;
        margin-left: 5%;
    }
    

}