.tcard{
    height:fit-content;
    width:fit-content;
    height: 60%;
    width: 30%;
    border: 1px solid rgb(58, 57, 57);
    /* box-shadow: 0px 0px 25px rgb(255, 255, 255) inset; */
    border-radius: 5%;
    padding: 1.5em;
    background-color: #FFAF24;
    transition: transform 0.5s ease, background-color 0.5s ease;
}
.tcard:hover {
    background-color: #ffa200;   
    transform: scale(1.08);     
    cursor: pointer;
  }
.tcardimg{
    /* border: 1px solid; */
    height: 75%;
    width: 100%;
    margin-bottom: 20px;
    
    
    
    /* background-color: rgba(217, 217, 217, 1); */
}
.tcardImg{
    border: 0.5px solid rgb(106, 106, 106);
    box-shadow: 1px 1px 10px black;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
.tcardcontent{

    text-align: center;
}

.tcardcontent p{
    margin: 0px 0 0 auto;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat'; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 34px;
    /* identical to box height */
    color: #FFF0D4;
    
}

.tcardcontent span{
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 24px;
    
    color: #ffe6b8;

}

@media only screen and (width<=720px){
    .tcard{
        /* margin-left: 2em; */
        /* margin-right: 4em; */
        width:min-content;
    }
    
}
@media screen and (max-width: 1024px) {
    .tcard {
      width: 45%;
      margin: 1em auto;
    }
  
    .tcardcontent p {
      font-size: 24px;
    }
  
    .tcardcontent span {
      font-size: 16px;
    }
  }
  
 
  @media screen and (max-width: 768px) {
    .tcard {
      width: 80%;        /* Take less horizontal space */
      padding: 1em;
      border-radius: 12px;
    }
  
    .tcardImg {
      height: auto;
      width: 100%;
    }
  
    .tcardcontent p {
      font-size: 20px;
    }
  
    .tcardcontent span {
      font-size: 14px;
    }
  }
  